<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>New Photos Page</h1>

        <form action="/photos" method="POST">
            Name: <input type="text" name="name"><br/>
          Size: <input type="text" name="size"><br/>
          Url: <input type="text" name="url"><br/>
          <input type="submit" value="Create Photo">
          <select name="userId">
            <% for(i = 0; i < users.length; i++) { %>
                <option value="<%= users[i]._id%>"><%= users[i].username%></option>
            <% } %>
          </select>
        </form>
</body>
</html>